@font-face {
  font-family: 'MayflowerAntique';
  src: url('./assets/fonts/MayflowerAntique.ttf');
}

* {
    box-sizing: border-box;  
    font-family: 'Quicksand', sans-serif;
    line-height: normal;
}

body {
  margin: 0;
}

section {
  padding: 75px 0;
  width: 92%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'MayflowerAntique';
}

p {
  font-family: 'Tenor Sans', sans-serif;
}