* {
    box-sizing: border-box;
    font-family: 'IM Fell English SC', serif;
  
}

body {
  margin: 0;
}

section {
  padding: 75px 0;
  width: 92%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

p {
  font-family: 'Tenor Sans', sans-serif;
}